.root {
    width: 100%;
}
.table {
    min-width: 1020;
}
.tableWrapper {
    overflow-x: auto;
    border: 1px solid #e0e0e0;
}
.progressbar {
    background-color: #436af5;
}

.actions-row {
    margin-bottom: 20px;
}
.mr-20 {
    margin-right: 20px !important;
}

.MuiOutlinedInput-adornedStart {
    height: 33px;
    margin-top: 5px;
}

select {
    padding: 0.375rem 0.75rem;
    display: "inline-block";
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    border: 1px solid #ced4da;
    color: #495057 !important;
    border-radius: 0 !important;
    box-sizing: "border-box";
    width: 233px;
  }
  select:focus-visible {
      border-radius: 0 !important;
  }

.MuiMenu-paper {
    background-color: #fff !important;
    box-shadow: 0 .125rem .25rem rgba(42,43,46,.1)!important;
    border: 1px solid #e0e0e0;
}

.badgef-success{
    background-color: #EAF9EE !important;
    color: #33C659;
    border-color: #33C659;
}
.badgef-completed{
  background-color: #FFEBEA !important;
  color: #FF3B2F;
  border-color: #FF3B2F;
}
.badgef-pending{
  background-color: #FFF3E5 !important;
  color: #FF8C00;
  border-color: #FF8C00;
}
.badgef{
  width: 83px;
  height: 30px;
  font-size: 12px;
  padding: 0.5rem 0.4rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.MuiTableRow-root {
    height: 48px;
}
